<h2>Clearance Batches</h2>

<%= form_tag(clearance_batches_path, multipart: true, class: 'form-inline', role: 'form') do %>
  <div class="form-group">
    <%= label_tag 'csv_batch_file', 'Select batch file' %>
    <%= file_field_tag 'csv_batch_file', class: 'form-control' %>
    <%= button_tag 'upload batch file', class: 'btn btn-primary' %>
  </div>
  <hr>
<% end %>
<table class="table table-striped clearance_batches">
  <thead>
    <tr>
      <th>Clearance Batch </th>
      <th>Date clearanced</th>
      <th>Number of items clearanced</th>
      <th> View Clearanced Items </th>
    </tr>
  </thead>
  <tbody>
    <%- @clearance_batches.each do |clearance_batch| -%>
      <tr>
        <td><%= clearance_batch.id %></td>
        <td><%= l(clearance_batch.created_at, format: :short) %></td>
        <td><%= clearance_batch.items.count %></td>
        <td>
          <%= link_to "Report", report_clearance_batches_path(clearance_id: clearance_batch.id), remote: true, class: "btn btn-primary clearance_report", id: "report_id_#{clearance_batch.id}"%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
<div class="modal"></div>