<div id="flash"></div>
<%= form_tag(add_clearance_batches_path, method: :get, remote: true, class: 'form-inline', id: 'item_clearance') do %>
  <div class="form-group">
    <%= text_field_tag 'item_id', nil, placeholder: 'Enter Item id' %>
    <%= button_tag 'Add Item', class: 'btn btn-primary' %>
  </div>
  <hr>
<% end %>

<%= form_tag(clearance_batches_path, id: "clearance_items") do %>
  <h2>Items to be clearance</h2>
  <table class="table table-striped" id="item_clearance_table">
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Size</th>
      <th>Color</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <%- @items.try(:each) do |item| %>
      <%= render template: 'clearance_batches/add_clearance_item', locals:{item: item} %>
    <%- end -%>
  </table>
  <%= button_tag 'Clearance', class: 'btn btn-warning' %>
<% end %>
<hr>
<section id="clearanced_batches" class="jumbotron">
  <h2>Clearanced Batches</h2>
  <table class="table table-striped clearance_batches">
    <thead>
      <tr>
        <th>Clearance Batch </th>
        <th>Date clearanced</th>
        <th>Number of items clearanced</th>
        <th> View Clearanced Items </th>
      </tr>
    </thead>
    <tbody>
      <%- @clearance_batches.each do |clearance_batch| -%>
        <tr>
          <td><%= clearance_batch.id %></td>
          <td><%= l(clearance_batch.created_at, format: :short) %></td>
          <td><%= clearance_batch.items.count %></td>
          <td>
            <%= link_to "Report", report_clearance_batches_path(clearance_id: clearance_batch.id), remote: true, class: "btn btn-primary clearance_report", id: "report_id_#{clearance_batch.id}"%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</section>
<div class="modal"></div>