<table class="table table-striped">
  <tr class="warning">
    <th><%= item_sortable "id" %></th>
    <th><%= item_sortable "type","Type" %></th>
    <th><%= item_sortable "size" %></th>
    <th><%= item_sortable "color" %></th>
    <th><%= item_sortable "status" %></th>
    <th><%= item_sortable "clearance_batch_id" %></th>
  </tr>
  <%- @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%=item.style.type%></td>
      <td><%=item.size%></td>
      <td><%=item.color%></td>
      <td><%=item.status%></td>
      <td><%=item.clearance_batch_id%></td>
    </tr>
  <%- end -%>
</table>
