<!DOCTYPE html>
<html>
<head>
  <title>TakeHomeChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1 class="text-center">Stitch Fix Clearance Tool</h1>
  <ul class="nav nav-pills nav-bar">
    <li>
      <%= link_to "Browse the Items", items_path%>
    </li>
    <li role="presentation">
      <%= link_to "Item Clearance", root_path %>
    </li>
  </ul>
  <hr>
  <%= render partial: "layouts/flash", locals: { flash: flash } %>
  <%= yield %>
</div>
</body>
</html>
